@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email verificado";
}

<h1>@ViewData["Title"]</h1>
<hr>
<div class="form-group">
    <p>
        <a class="btn btn-success" asp-page="./Login">Voltar</a>
    </p>
</div>