@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confira seu email";
}

<h2  style="white-space: nowrap" >@ViewData["Title"] para atualizar a senha.</h2>
<hr>
<div>
    <a class="btn btn-success" asp-page="./Login">Voltar</a>
</div>


